body {
    overflow: hidden;
}
h1 {
    font-size: 24px;
    color: black;
    text-align: left;
    margin-top: 10px;
}

/*
.table {
    position: relative;
    left: -3px; 
    top: 150px; 
    z-index:1;
}

.computer {
    position: relative; 
    width: 100%; 
    left: 65px; 
    top: -550px; 
    z-index:3;
}

.content {
    position: absolute; 
    top: 200px; 
    left: 50%; 
    transform: translateX(-50%);
    z-index: 4; 
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    width: 70%; 
}

.content p {
    font-size: 16px;
    color: black;
    margin: 0;
}
*/